<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.iamyasas.springbootmybatisdemo.mappers.EmployeeMapper'>
	<select id='getEmployees' resultType="com.iamyasas.springbootmybatisdemo.models.Employee">
		SELECT e.id, e.name, e.age, d.name as department_name
		FROM ncell.employee e
		INNER JOIN ncell.department d
		ON e.department_id = d.id
	</select>
</mapper>